@{
    Layout = "~/Views/Shared/_LayoutWithoutMap.cshtml";
}

@model TakeASeatApp.ViewModels.ForgotPasswordAccountViewModel

@{
    ViewBag.Title = "Forgot your password?";
}

<div class="jumbotron">
    <h1 id="Name">Did you forgot your password?</h1>
    <p class="lead">
        Don't worry. Enter the email address you have used to register and we will send you an email with instructions.
    </p>
</div>
@Html.Raw(ViewBag.AppMessage)
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" class="btn btn-primary" value="Email Me" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}