@{
    Layout = "~/Views/Shared/_LayoutWithoutMap.cshtml";
}

@model TakeASeatApp.ViewModels.RegisterClientAccountViewModel
@{
	ViewBag.Title = "Register as a client";
}

<div class="jumbotron">
    <h1 id="Name">Register as a client</h1>
    <p class="lead">
        Make sure you write a valid email address. You will have to confirm it it in order to use all the features of the application.
    </p>
</div>
@using (Html.BeginForm("RegisterClient", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row">
            @Html.LabelFor(m => m.Firstname, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Lastname, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
        </div>
    </div>
	<div class="form-group">
		@Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
		<div class="col-md-8">
			@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
		<div class="col-md-8">
			@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
		<div class="col-md-8">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-4 col-md-8">
			<input type="submit" class="btn btn-primary" value="Register" />
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
